# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

DATABASE_URL="<your_db_url>"

NEXT_PUBLIC_SUPABASE_URL=<your_supabase_project_url>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<your_supabase_anon_key>

SITE_URL="<your_site_url>"

GOOGLE_VERIFICATION_CODE=<your_google_verification_code>